#game-detail-page.featured .game-title-container:after {
	display: block;
    padding-top: 1rem;
    line-height: .86;
    font-size: 2.2rem;
    font-weight: 400;
    content: '✪ __MSG_featured__';
    color: #F57C00;
}

.game-card.featured .game-card-thumb-container:before {
	position: absolute;
	display: inline-block;
	margin: -.5rem 0 0 -.5rem;
	font-size: 2rem;
	line-height: .82;
	content: '✪';
	color: #F57C00;
	background: #FFF;
	border-radius: 100%;
}
.game-card.featured:hover .game-card-thumb-container:before {
	border-radius: 10%;
	content: '✪ __MSG_featuredShort__';
}

.game-card.blacklist {
	/* display: none; */ /* Uncomment to get DMCA'd by Roblox */
}