*, :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
	color: #333;
	transition: color, font-size .2s ease
}

::selection, ::-moz-selection {
    background: #333;
    text-shadow: none;
    color: #fff
}

html {	/* Yeah, that's dirty, but its work! */
	width: 485px;
    overflow-x: hidden;
}

body {
	background: #FAFAFA;
	margin: 0;
	font-family: Roboto, Sans-serif;
	transition: background .86s ease;
	overflow: hidden;
	animation: body .5s ease .86s;
}

header {
	font-size: xx-large;
	border-bottom: 1px solid #757575;
	background: #FFF;
}

header, footer {
	color: #424242;
	padding: .30em;
	padding-left: 1.5em;
}

main {
	display: flex;
	margin: 3em;
	padding: 1em;
	background: #FFF;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	text-align: center;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: center;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.32);
	animation: main .86s ease
}

.circle {
	border-radius: 100%;
	border: 1px solid #E0E0E0;
	margin: 0 auto;
	width: 50%;
	padding: 1em;
}

#gender {
	display: inline-flex;
	border: 1px solid #E0E0E0;
	border-radius: 2px;
	padding: 1em;
	font-size: initial;
	align-items: center;
}

#play {
	padding: 1.5em 1em 1.5em 2em;
	width: 100%;
	cursor: pointer;
}
#play polygon {fill: url(#play-gradient)}

#gender li {
	display: inline-block;
	width: 6em;
	height: 6em;
	margin: .25em;
}
#gender li a {
	display: inline-block;
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-image: url(icons/genders.png);
	box-shadow: inset 0px 0px 3px 0px #9E9E9E;
	transition: box-shadow .6s;
}
/* Genders */
#gender li[gender="1"] a {background-position: 0% 0%}
#gender li[gender="2"] a {background-position: 0% 50%}
#gender li[gender="3"] a {background-position: 0% 100%}

/* Gender colors */
:root {
	--gender-default-color: #484646;
	--gender-male-color: #2196F3;
	--gender-female-color: #DB21F3;
	--gender-default-color-white: #d7d5d5;
	--gender-male-color-white: #b1dafb;
	--gender-female-color-white: #f2b2fb;
}
#play stop {transition: stop-color 1s ease}
body[gender="1"] {background: var(--gender-default-color-white)}
body[gender="2"] {background: var(--gender-male-color-white)}
body[gender="3"] {background: var(--gender-female-color-white)}

body[gender="1"] #play stop:last-of-type {stop-color: var(--gender-default-color)}

body[gender="1"] #play:hover stop:first-of-type {stop-color: var(--gender-default-color)}

body[gender="2"] #play stop:last-of-type {stop-color: var(--gender-male-color)}

body[gender="2"] #play:hover stop:first-of-type {stop-color: var(--gender-male-color)}

body[gender="3"] #play stop:last-of-type  {stop-color: var(--gender-female-color)}
body[gender="3"] #play:hover stop:first-of-type {stop-color: var(--gender-female-color)}

body[gender="1"] #gender li[gender="1"] a {box-shadow: inset 0px 0px 20px 0px var(--gender-default-color)}
body[gender="2"] #gender li[gender="2"] a {box-shadow: inset 0px 0px 20px 0px var(--gender-male-color)}
body[gender="3"] #gender li[gender="3"] a {box-shadow: inset 0px 0px 20px 0px var(--gender-female-color)}

/* Localization */
header::before {content: "__MSG_extName__"}
#gender::before {padding-right: .5em;content: "__MSG_gender__:"}
#version::before {content: "__MSG_version__: "}
#mailto::before {content: "__MSG_contactUs__"}

/* Animations */
@keyframes main {
    from {
		transform: translateY(9em);
		opacity: 0;
	}
    to {
		transform: translateY(0);
		opacity: 1;
	}
}